<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">CREAR PRODUCTO</span>
                    <!--conectar el formulario con la validacion, metodo de boton-->
                    <form class="mt-3" [formGroup]="productoForm" (ngSubmit)="agregarProducto()"> 
                        <div class="mb-4">
                          <input type="text" formControlName="producto" 
                            class="form-control form-control-lg" placeholder="Producto">
                        <!--div para anuncio de validacion-->    
                          <div class="text-danger" 
                            *ngIf="productoForm.get('producto')?.hasError('required') && productoForm.get('producto')?.touched"> <!--ocultar anuncio cuando se escribe y mostrar cuando se seleccione-->
                              <span>El nombre del producto <strong>es obligatorio</strong></span>
                          </div>  
                        </div>
                        <div class="mb-4">
                          <input type="text"  formControlName="categoria"
                            class="form-control form-control-lg" placeholder="Categoria">
                         <!--div para anuncio de validacion-->    
                          <div class="text-danger" 
                              *ngIf="productoForm.get('categoria')?.hasError('required') && productoForm.get('categoria')?.touched"> <!--ocultar anuncio cuando se escribe y mostrar cuando se seleccione-->
                            <span>La categoria <strong>es obligatoria</strong></span>
                        </div>  
                        </div>
                        <div class="mb-4">
                          <input type="text" formControlName="ubicacion"
                            class="form-control form-control-lg" placeholder="Ubicacion">
                        <!--div para anuncio de validacion-->    
                        <div class="text-danger" 
                            *ngIf="productoForm.get('ubicacion')?.hasError('required') && productoForm.get('ubicacion')?.touched"> <!--ocultar anuncio cuando se escribe y mostrar cuando se seleccione-->
                          <span>La ubicacion <strong>es obligatoria</strong></span>
                      </div>                              
                        </div>  
                        <div class="mb-4">
                            <input type="number" formControlName="precio"
                                class="form-control form-control-lg" placeholder="Precio">
                        <!--div para anuncio de validacion-->    
                        <div class="text-danger" 
                            *ngIf="productoForm.get('precio')?.hasError('required') && productoForm.get('precio')?.touched"> <!--ocultar anuncio cuando se escribe y mostrar cuando se seleccione-->
                          <span>El precio <strong>es obligatorio</strong></span>
                      </div>                                  
                        </div>
                        <div class="mb-3">
                            <!--volver a pagina iniciar btn-lg = botn  mas grande, float-end/start = alineacion-->
                            <button routerLink="/" class="btn btn-secondary btn-lg float-start">Volver</button>
                            <!--deshabilitar boton cuando no esten todos los campos-->
                            <button type="submit" [disabled]="productoForm.invalid" class="btn btn-success btn-lg float-end">Aceptar</button>
                        </div>                        
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>